<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
      <style class="cp-pen-styles"></style>
      <link rel="stylesheet" href="{% static 'registred/custom.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Авторизация</title>
</head>
<body>


  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="login">
	<h1>Авторизация</h1>
    <form method="post" action="">
      {% csrf_token %}
    	<input type="text" name="username" placeholder="Username" required="" id="id_username" style="margin-top: 10px" />
        <input type="password" name="password" placeholder="Password" required="" id="id_password" style="margin-top: 5px" />
        <button type="submit" class="btn btn-primary btn-block btn-large" style="margin-top: 5px">Авторизоваться</button>
        {% if error %}
          <p style="color: red;"> {{ error }}</p>
        {% endif %}
    </form>
</div>
</body>
</html>