<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
      <style class="cp-pen-styles"></style>
      <link rel="stylesheet" href="{% static 'registred/custom.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Успешно</title>
</head>
<body>

<div style="color: white; padding: 10px; margin: 10px">
    <h1>Добро пожаловать {{ new_user.first_name }}!</h1>
    <p>Аккаунт успешно создан, теперь вы можете <a href="{% url 'login' %}">войти</a> !</p>
</div>

</body>
</html>