<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
      <style class="cp-pen-styles"></style>
      <link rel="stylesheet" href="{% static 'registred/custom.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Registred</title>
</head>
<body>

<div class="login">
    <h1>Registration</h1>
    <form method="post">
      {% csrf_token %}
        <input type="text" name="username" required="" placeholder="Username" id="id_username">
        <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
        <input type="password" name="password2" placeholder="Password_again" required="" id="id_password2" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Sig in</button>
    </form>
    {% if form.errors %}
    <p>Error</p>
    {% endif %}
</div>
</body>
</html>
