{% extends "films/base.html" %}
{% block header%}
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/films/mainpage" class="nav-link px-2 text-white">Главная</a></li>
                  <li><a href="/films/films_view" class="nav-link px-2 text-white">Фильмы</a></li>
                    <li><a href="/films/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
                    <li><a href="/films/add_review" class="nav-link px-2 text-white">Оставить отзыв</a></li>
                    {% if request.user.is_superuser %}
                      <li><a href="/films/add" class="nav-link px-2 text-secondary">Добавить фильм</a></li>
                      <li><a href="/films/delete" class="nav-link px-2 text-white">Удалить фильм</a></li>
                      <li><a href="/films/list" class="nav-link px-2 text-white">Список</a></li>
                    {% endif %}
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post">
                    {% csrf_token %}
                  <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search" name="search", id="search">
                </form>
            </div>
        </div>
    </header>
{% endblock header%}
{% if request.user.is_superuser %}
{% block content %}
<div class="container" style="opacity: .9;">
    <h1>Добавить фильм</h1>
    <div class="row">
        <div class="col-4">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                <label for="name">Имя</label>
                <input class="form-control" type="text" is="name" required name="name">
                </div>
                <div>
                <label for="studio">Студия</label>
                <input class="form-control" type="text" is="studio" required name="studio">
                </div>
                <div>
                <label for="time">Время</label>
                <input class="form-control" type="time" is="time" required name="time">
                </div>
                <div>
                <label for="room_number">Зал</label>
                <input class="form-control" type="number" min="1" max="3" required is="room_number" name="room_number">
                </div>
                <div>
                <label for="stars">Рейтинг</label>
                <input class="form-control" type="number" is="stars" min="0" max="5" required is="room_number" name="stars">
                </div>
                <div>
                <label for="stars">Трейлер</label>
                <input class="form-control" type="text" is="trailer" required name="trailer">
                </div>
                <div>
                <label for="description">Описание</label>
                <textarea class="form-control" type="text" is="description" rows="3" required name="description"></textarea></p>
                </div>
                <div class="mb-3">
                  <label for="poster" required class="form-label">Постер</label>
                  <input class="form-control" type="file" id="poster" name="poster">
                </div>
                <input class="btn btn-primary" type="submit" value="Добавить" style="margin-top: 10px; margin-bottom: 10px;">
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% else %}
    <h1>You don't have enough privileges</h1>
{% endif %}