<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add film</title>
</head>
<body>
{% if request.user.is_superuser %}
{% block content %}
<div class="container">
    <h1>Add a new film to the database</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
        <label for="name">Name</label>
        <input class="form-control" type="text" is="name" name="name">
        </div>
        <div>
        <label for="studio">Studio</label>
        <input class="form-control" type="text" is="studio" name="studio">
        </div>
        <div>
        <label for="time">Time</label>
        <input class="form-control" type="time" is="time" name="time">
        </div>
        <div>
        <label for="room_number">Room number</label>
        <input class="form-control" type="number" is="room_number" name="room_number">
        </div>
        <div>
        <label for="poster">Poster</label>
        <input class="form-control" type="text" is="poster" name="poster">
        </div>
        <div>
        <label for="stars">Stars</label>
        <input class="form-control" type="number" is="stars" name="stars">
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
</div>
{% endblock %}
{% else %}
<h1>You don't have enough privileges</h1>
{% endif %}
</body>
</html>