<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'films/custom.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>

<body style="background-color: #240935; color: white">
{%block header%}
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/films/mainpage" class="nav-link px-2 text-white">Главная</a></li>
              <li><a href="/films/films_view" class="nav-link px-2 text-white">Фильмы</a></li>
              <li><a href="/films/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
              <li><a href="/films/add_review" class="nav-link px-2 text-secondary">Оставить отзыв</a></li>
            </ul>
              <ul class="nav col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              {% if request.user.is_authenticated %}
                <li><a href="#" class="nav-link px-2 text-white">{{ user }}</a></li>
                <li><a href="#" class="nav-link px-2 text-white">|</a></li>
                <li><a href="/accounts/logout/" class="nav-link px-2 text-white">Log out</a></li>
              {% else %}
                <li><a href="/accounts/login/" class="nav-link px-2 text-white">Login</a></li>
                <li><a href="#" class="nav-link px-2 text-white">|</a></li>
                <li><a href="/films/signup/" class="nav-link px-2 text-white">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
    </header>
{%endblock header%}
{% if request.user.is_authenticated %}
{% block content %}
<div class="rev_menu" style="top: 41%;  width: 300px;">
    <h1>Оставьте отзыв</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
        <input class="form-control" type="hidden" is="name" name="name", value="{{ request.user.username }}">
        </div>
        <div>
        </div>
        <div class="btn-group" style="white-space: nowrap; width: 270px; resize: none; max-width: 270px; min-width: 270px;">
          <button type="button" class="btn btn-secondary" style="padding-right:200px; resize: none; max-width: 270px; min-width: 270px;" ;>
              {% for Film in all_films %}
                  {%if Film.id == film_id %}
                    {{Film.name}}
                    {{break}}
                  {%endif%}
              {%endfor%}
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Переключатель выпадающего списка</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for Film in all_films %}
              <li><a class="dropdown-item" href="?films={{Film.id}}">{{Film.name}}</a></li>
              {% endfor %}
          </ul>
            <input class="form-control" type="hidden" is="id" name="id" value="{{film_id}}">
        </div>
        <div>
            <label for="msg">Отзыв</label>
            <p><textarea  class="form-control" type="text-area" is="msg" name="msg" rows="1"> </textarea></p>
        </div>
        <div>
        <label for="stars">Оценка</label>
        <input  class="form-control" type="number" is="stars" name="stars">
        </div>
        <div class="batn">
        <input class="btn btn-primary" type="submit">
        </div>
    </form>
</div>
{% endblock %}
{%block footer%}
  <div class="footer" style="position: absolute;bottom: 0;width: 100%; background-color: #1E0F28">
    <footer class="py-4 my-0">
      <ul class="nav justify-content-center border-none pb-0 mb-0">
        <li class="nav-item"><a href="/films/mainpage" class="nav-link px-2 text-white">Главная</a></li>
        <li class="nav-item"><a href="/films/films_view" class="nav-link px-2 text-white">Фильмы</a></li>
        <li class="nav-item"><a href="/films/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
      </ul>
      <p class="text-center text-white">© 2023 Company, Inc</p>
    </footer>
  </div>
{%endblock footer%}
{% else %}
<h1 style="margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)" >
    You haven't authorized</h1>
  <div class="footer" style="position: absolute;bottom: 0;width: 100%; background-color: #1E0F28">
    <footer class="py-4 my-0">
      <ul class="nav justify-content-center border-none pb-0 mb-0">
        <li class="nav-item"><a href="/films/mainpage" class="nav-link px-2 text-white">Главная</a></li>
        <li class="nav-item"><a href="/films/films_view" class="nav-link px-2 text-white">Фильмы</a></li>
        <li class="nav-item"><a href="/films/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
      </ul>
      <p class="text-center text-white">© 2023 Korotaev, 201-331</p>
    </footer>
  </div>
{% endif %}