<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'films/custom.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body style="background-color: #240935; color: white">
{% block header%}
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/films/mainpage" class="nav-link px-2 text-white">Главная</a></li>
                  <li><a href="/films/films_view" class="nav-link px-2 text-white">Фильмы</a></li>
                    <li><a href="/films/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
                    <li><a href="/films/add_review" class="nav-link px-2 text-white">Оставить отзыв</a></li>
                    {% if request.user.is_superuser %}
                      <li><a href="/films/add" class="nav-link px-2 text-white">Добавить фильм</a></li>
                      <li><a href="/films/delete" class="nav-link px-2 text-secondary">Удалить фильм</a></li>
                      <li><a href="/films/list" class="nav-link px-2 text-white">Список</a></li>
                    {% endif %}
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post">
                    {% csrf_token %}
                  <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search" name="search", id="search">
                </form>
            </div>
        </div>
    </header>
{% endblock header%}
{% if request.user.is_superuser %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4" style="margin:10px; padding:10px">
            <div>
                {% for Film in all_films %}
                    {%if Film.id == film_id %}
                        <div class="card shadow-sm" style="border: none; margin-bottom:10px">
                          <img src="{{ Film.poster.url }}" class="bd-placeholder-img card-img-top" width="100%" height="550">
                          <div class="card-body" style="background-color: #0B0423; text-align: left; color:white; font-size: 18px" >
                              <output><span style="font-size: 28px">{{ Film.name }}</span></output>
                          </div>
                        </div>
                        {{break}}
                    {%endif%}
                {%endfor%}
            </div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="btn-group" style="white-space: nowrap; width: 250px; resize: none;">
                      <button type="button" class="btn btn-secondary" style="padding-right:200px; rwidth: 270px; resize: none; max-width: 270px; min-width: 270px;" ;>
                          {% for Film in all_films %}
                              {%if Film.id == film_id %}
                                {{Film.name}}
                                {{break}}
                              {%endif%}
                          {%endfor%}
                      </button>
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" style="width: 50px;">
                        <span class="visually-hidden">Переключатель выпадающего списка</span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          {% for Film in all_films %}
                          <li><a class="dropdown-item" href="?films={{Film.id}}">{{Film.name}}</a></li>
                          {% endfor %}
                      </ul>
                        <input class="form-control" type="hidden" is="id" name="id" value="{{film_id}}">
                    </div>
                    <div class="batn">
                    <input class="btn btn-danger" type="submit" value="Удалить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{%block footer%}
    <div class="footer" style="background-color: #1E0F28">
    <footer class="py-4 my-0">
      <ul class="nav justify-content-center border-none pb-0 mb-0">
        <li class="nav-item"><a href="/films/mainpage" class="nav-link px-2 text-white">Главная</a></li>
        <li class="nav-item"><a href="/films/films_view" class="nav-link px-2 text-white">Фильмы</a></li>
        <li class="nav-item"><a href="/films/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
      </ul>
      <p class="text-center text-white">© 2023 Korotaev, 201-331</p>
    </footer>
  </div>
{%endblock footer%}
{% else %}
<h1>You don't have enough privileges</h1>
{% endif %}
</body>