{% extends "films/base.html" %}
{% block title %}Фильмы{% endblock title %}
{% load static %}
{% block header%}
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/films/mainpage" class="nav-link px-2 text-white">Главная</a></li>
                  <li><a href="/films/films_view" class="nav-link px-2 text-secondary">Фильмы</a></li>
                    <li><a href="/films/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
                    <li><a href="/films/add_review" class="nav-link px-2 text-white">Оставить отзыв</a></li>
                    {% if request.user.is_superuser %}
                      <li><a href="/films/add" class="nav-link px-2 text-white">Добавить фильм</a></li>
                      <li><a href="/films/delete" class="nav-link px-2 text-white">Удалить фильм</a></li>
                      <li><a href="/films/list" class="nav-link px-2 text-white">Список</a></li>
                    {% endif %}
                </ul>

                <div class="dropdown" style="margin-right: 15px ">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">Фильтр</button>
                    <form method="post">
                        {% csrf_token %}
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="submit" name="sort" value="stars">По рейтингу</button></li>
                        <li><button class="dropdown-item" type="submit" name="sort" value="studio">По студии</button></li>
                        <li><button class="dropdown-item" type="submit" name="sort" value="name">По имени</button></li>
                      </ul>
                    </form>
                </div>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post">
                    {% csrf_token %}
                  <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search" name="search", id="search">
                </form>
            </div>
        </div>
    </header>
{% endblock header%}
{% block content %}
    <div class="album py-5" style="background-color: #240935">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for Film in all_films %}
              <form id="form_POST_for_{{ Film.name }}" method="post">
                  {% csrf_token %}
                <div class="col films_card" onclick = 'document.getElementById("form_POST_for_{{ Film.name }}").submit();'>
                    <input type="hidden" for="form_POST_for_{{ Film.name }}" name="Name_film" value="{{ Film.name }}">
                    <div class="card shadow-sm" style="border: none">
                        <img src= "{% static Film.poster_url %}" class="bd-placeholder-img card-img-top" width="100%" height="550">
                        <div class="card-body" style="background-color: #464451; text-align: left; color:white; font-size: 18px" >
                            <output style="font-size: 24px";>{{ Film.name }}</output>
                            <div class="rating-result">
                            {% if Film.stars > 0%}
                                <span class="active"></span>
                            {% else %}
                                <span></span>
                            {% endif %}

                            {% if Film.stars > 1%}
                                <span class="active"></span>
                            {% else %}
                                <span></span>
                            {% endif %}

                            {% if Film.stars > 2%}
                                <span class="active"></span>
                            {% else %}
                                <span></span>
                            {% endif %}

                            {% if Film.stars > 3%}
                                <span class="active"></span>
                            {% else %}
                                <span></span>
                            {% endif %}

                            {% if Film.stars > 4%}
                                <span class="active"></span>
                            {% else %}
                                <span></span>
                            {% endif %}

                        </div>
<!--                        <button type="button" class="btn btn-secondary" style="float: right;">Buy ticket</button>-->
                    </div>
                </div>
              </div>
              </form>
              {% endfor %}
          </div>
        </div>
    </div>
{% endblock content %}
</html>
